/ansible/inventory
/ansible/roles/common/files/ssh.cfg
/terraform.tfstate.backup
/ansible/ssh.cfg
/ansible/roles/rke/files/cluster.yml
/terraform.tfstate
/illume.tfplan
/ansible/roles/common/files/hosts
/ansible/playbook.retry
/.terraform
/openstack_user.tfvars
/terraform/.terraform.tfstate.lock.info
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/illume.tfplan
/terraform/.terraform
/ansible/terraform.tfstate
/ansible/roles/cvmfs/defaults/main.yml
/ansible/roles/rke/defaults/main.yml
/ansible/roles/docker/defaults/main.yml
