[Unit]
Description=Set nvidia clocks to maximum
After=nvidia-persistenced.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nvidia-max-power-limit
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
